* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #ddd;
  font-size: 18px;
  font-family: 'Cubano', Arial, Helvetica, sans-serif;
  margin: 50px;
}

/* container */
.container {
  display: grid;
  gap: 10px;
}

/* Header */
.header {
  display: grid;
  grid-template-areas:
    'hero hero feature-1'
    'hero hero feature-2';
}

.hero {
  grid-area: hero;
  min-height: 350px;
  background-image: url('/img/hero.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px;
}

.hero>* {
  display: none;
}

.features {
  background-color: #0000;
  color: white;
  display: grid;
  /* justify-content: center;
  align-content: center; */
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url('/img/hoodie.jpg');
  background-size: cover;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url('/img/t-shirt.jpg');
  background-size: cover;
}

.features .price {
  font-size: 3em;
  font-weight: 200;
}

/* Navigasi */
.menu {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.menu .brand {
  font-size: 1.3em;
  color: #333;
}

.menu ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.menu a {
  display: block;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0, 9em;
  font-family: sans-serif;
}

/* Services */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.service {
  background-color: white;
  padding: 15px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.service .icon {
  font-size: 3em;
}

.service h3 {
  font-size: 1.5em;
}

.service p {
  font-family: sans-serif;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 0.8em;
}

/* Gallery */
.gallery {
  display: grid;
  margin-top: 100px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
}

.gallery h2 {
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
  margin-bottom: 20px;
}

/* Responsive Breakpoint */
@media screen and (max-width: 1024px) {
  .menu {
    order: inherit;
    grid-template-columns: 1fr;
  }

  .menu .brand {
    display: none;
  }

  .hero>* {
    display: block;
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    order: -1;
    justify-items: end;
  }
}

@media screen and (max-width: 600px) {
  body {
    margin: 15px;
  }

  .header {
    grid-template-areas:
      'hero'
      'feature-1'
      'feature-2';
  }

  .header .feature-1 {
    padding: 12px;
  }

    .header .feature-2 {
      padding: 12px;
    }
}